<?xml version="1.0" ?>
 <!--
   By default encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder
 -->
<configuration>

  <newRule pattern="configuration/appender" actionClass="edu.vu.isis.logger.lib.AppenderStoreAction"/>

  <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
    <checkLoggable>false</checkLoggable>
    <tagEncoder>
       <pattern>dash:%logger{22}</pattern>
    </tagEncoder>
    <encoder>
       <pattern>[%method] %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="LOGCAT" />
  </root>
</configuration>
